<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= recipe.title %>
    </title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/964b4f6dfb.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <link rel="stylesheet" href="/stylesheets/boilerplate.css">
    <link rel="stylesheet" href="/stylesheets/recipes.css">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="stylesheet" href="/stylesheets/show.css">

</head>

<body>
    <%- include('./partials/navbar2') %>
        <%- include('./partials/flash')%>
            <div class="container">
                <h2 class="title">
                    <%= recipe.title %>
                </h2>
                <h3 class="heading">Ingredients</h3>
                <h4>
                    <% for(let ingredient of recipe.ingredients) {%>
                        <div>
                            <%= ingredient.ingredient %>
                        </div>
                        <% } %>
                </h4>
                <h3 class="heading">Method</h3>
                <h4>
                    <% for(let step of recipe.steps) {%>
                        <div>
                            Step <%= step.number %>: <%= step.step %>
                        </div>
                        <% } %>
                </h4>
            </div>



            <div id="links">
                <form id="delete-alert" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="link" id="delete"><i class="far fa-trash-alt"></i></button>
                </form>
                <a id="edit" class="link" href="/recipes/<%=recipe._id%>/edit"><i class="far fa-edit"></i></a>
                <a id="return" class="link" href="/recipes"><i class="fas fa-undo"></i></a>
            </div>

            <%- include('./partials/footer') %>

                <script src="/alert.js"></script>
</body>

</html>